*{
    background-color: black;
    color:white;
}

.nav{
  align-items: center;
  justify-content: space-between;
  display:flex;
  padding:20px 40px;
  background-color: aqua;
}
.nav div{
  display:flex;
  align-items: center;
  gap:40px;
  /* background-color: ; */
}